<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Teclado Brasileiro ABNT2 0.1, Rodrigo Zanatta</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.keyboardlayout.Brasil.ABNT2</string>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BrasilPC</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>KLInfo_BrasilNote</key>
	<dict>
		<key>ISOCode</key>
		<string>pt_BR</string>
	</dict>
	<key>KLInfo_BrasilPC</key>
	<dict>
		<key>ISOCode</key>
		<string>pt_BR</string>
	</dict>
</dict>
</plist>
